services:
  backend:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:secret@db:5432/amber-db
    ports:
      - 80:80
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: amber-db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d amber-db"]
      interval: 2s
      timeout: 3s
      retries: 30
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
