services:
  backend:
    build: .
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    ports:
      - 80:80
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d amber-db"]
      interval: 2s
      timeout: 3s
      retries: 30
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
