# FastAPI Core
fastapi[standard]
uvicorn[standard]
websockets
wsproto
pydantic

# Rate Limiting
slowapi

# JWT Auth
pyjwt
pwdlib[argon2]

# Database
sqlalchemy
psycopg2
alembic
python-dotenv

# Emails
resend

# Testing
pytest